{
  "presets": [
  ],
  "plugins": [
  ],
  "env": {
    "test": {
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react"
      ],
      "plugins": [
        "add-module-exports",
        "transform-runtime",
        "transform-decorators-legacy"
      ]
    }
  }
}
