{"extends": "eslint:recommended",
	"rules": {
		// enable additional rules
		"indent": ["error", "tab"],
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "double"],
		//"semi": ["warn", "always"],

		// override configuration set by extending "eslint:recommended"
		"no-empty": "warn",
		"no-cond-assign": ["error", "always"],

		// disable rules from base configurations
		"for-direction": "off",
		"no-unused-vars": 1,
		"no-undef": 1
	}
}