{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "forOf": true,
      "jsx": true,
      "es6": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "comma-dangle": 0,
    "prefer-rest-params": 0,
    "indent": 0,
    "react/prop-types": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-closing-bracket-location": 0,
    "object-curly-spacing": 0,
    "arrow-body-style": 0,
    "no-console": 0,
    "max-len": 0,
    "prefer-template": 0,
    "global-require": 0,
    "no-underscore-dangle": 0,
    "import/no-unresolved": 2,
    "import/named": 0,
    "import/namespace": 0,
    "import/default": 0,
    "import/export": 2,
    "import/first": 0,
    "no-mixed-operators": 1,
    "space-unary-ops": 1,
    "eqeqeq": 1,
    "brace-style": 1,
    "quotes": 1,
    "no-use-before-define": 0,
    "semi": 1,
    "no-shadow": 0,
    "no-param-reassign": 1,
    "vars-on-top": 0,
    "no-var": 1,
    "padded-blocks": 1,
    "prefer-const": 1,
    "eol-last": 0,
    "no-trailing-spaces": 1,
    "consistent-return": 0,
    "no-useless-escape": 0,
    "no-undef": 2,
    "keyword-spacing": 1,
    "no-alert": 1,
    "import/extensions": 0,
    "strict": 1,
    "lines-around-directive": 1,
    "import/newline-after-import": 1,
    "func-call-spacing": 1,
    "no-spaced-func": 1,
    "spaced-comment": 0,
    "react/jsx-filename-extension": 1,
    "class-methods-use-this": 0,
    "no-else-return": 1,
    "import/no-mutable-exports": 2,
    "no-multi-spaces": 1,
    "no-unused-vars": 2,
    "object-shorthand": 1,
    "dot-notation": 1,
    "prefer-arrow-callback": 1,
    "import/prefer-default-export": 1,
    "space-before-function-paren": 1,
    "one-var": 1,
    "arrow-parens": 1,
    "no-plusplus": 0,
    "react/sort-comp": 0,
    "react/jsx-no-bind": 1,
    "react/jsx-first-prop-new-line": 0,
    "no-multiple-empty-lines": 1,
    "comma-spacing": 1,
    "one-var-declaration-per-line": 1,
    "key-spacing": 1,
    "block-spacing": 1,
    "react/no-multi-comp": 1,
    "react/no-array-index-key": 0,
    "react/jsx-indent": 1,
    "react/self-closing-comp": 1,
    "react/require-default-props": 1,
    "react/prefer-stateless-function": 1,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/jsx-space-before-closing": 0,
    "react/jsx-tag-spacing": 0,
    "no-restricted-syntax": 0,
    "react/no-did-mount-set-state": 1,
    "no-tabs": 2,
    "react/forbid-prop-types": 1,
    "comma-style": 1,
    "operator-assignment": 1,
    "no-unused-expressions": [2, {
      "allowShortCircuit": true
    }],
    "react/jsx-curly-spacing": 1,
    "react/jsx-boolean-value": 0,
    "quote-props": 1,
    "default-case": 1,
    "no-useless-concat": 1,
    "no-nested-ternary": 1,
    "react/jsx-wrap-multilines": 1,
    "jsx-a11y/label-has-for": 1,
    "jsx-a11y/anchor-has-content": 1,
    "jsx-a11y/alt-text": 1,
    "import/no-named-as-default": 1,
    "react/no-unescaped-entities": 1,
    "react/no-unused-prop-types": 1,
    "jsx-a11y/media-has-caption": 1,
    "no-continue": 0,
    "no-await-in-loop": 1
  },
  "globals": {
    "google": false,
    "FB": false,
    "YT": false,
    "__PRODCLIENT__": false
  }
}
